<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>分离式导航</title>
    <style>
      .main-nav {
        display: flex;
      }
      .main-nav li{
        margin-right: 10px;
        list-style: none;
      }
      .push {
        margin-right: 0;
        margin-left: auto;
      }
    </style>
  </head>
  <body>
    <p>一种导航样式，其中一个或多个元素与其余导航项之间是分离的。</p>
    <p>一种常见的导航样式是将一个元素推离其他元素。我们可以使用弹性盒（Flexbox）实现这一点，而不需要将两组项目放入两个单独的弹性容器（flex container）中。</p>
    <nav>
      <ul class="main-nav">
        <li><a href="">首页</a></li>
        <li><a href="">产品</a></li>
        <li><a href="">关于</a></li>
        <li><a href="">联系我们</a></li>
        <li class="push"><a href="">个人中心</a></li>
      </ul>
    </nav>
  </body>
</html>
